In [1]:
import pandas as pd
import codecs

In [2]:
m = codecs.open('new_master7.csv', "r",encoding='utf-8', errors='ignore')
master8 = pd.read_csv(m)

In [3]:
master8.describe()

            index         age         sex   age_range
count  106.000000  106.000000  106.000000  106.000000
mean    52.632075   31.405660    0.113208   28.396226
std     30.944290   17.984532    0.318352   17.078909
min      0.000000    0.000000    0.000000    0.000000
25%     26.250000   27.000000    0.000000   20.000000
50%     52.500000   34.500000    0.000000   30.000000
75%     78.750000   40.000000    0.000000   40.000000
max    106.000000   73.000000    1.000000   70.000000

In [432]:
# Save dataframe to file

pd.DataFrame(master7).reset_index().to_csv('master7.csv', header=True)

In [374]:
#male
print(master8['age_range'][master8["sex"] == 0.0].value_counts())

30    35
0     19
40    16
20    11
50     7
60     5
70     1
Name: age_range, dtype: int64

In [503]:
master8.occupation.value_counts()

None                               47
professional criminal              13
law & order                         9
medical                             7
sanitation, mainenance & repair     6
academia                            4
auto related                        4
sales                               3
art                                 3
owner                               3
performance                         2
inspector                           2
sports                              2
office work                         1
Name: occupation, dtype: int64

In [10]:
words = master8['last_words']